body{
  background-color:#3C3C3C
  }

.blue-box{
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#006687), color-stop(50%,#018fab), color-stop(69%,#007893), color-stop(100%,#007b96)); /* Chrome,Safari4+ */
  height: 500px;
  width: 1120px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50%;
  text-align: center;
}

.product-view{
  /*display: inline-block;*/
  margin-top: 55px;
  /*height: 380px;*/
  width: auto;
  background-color: white;
  border-radius: 3px;
  -webkit-box-shadow: 10px 10px 37px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 37px -6px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 37px -6px rgba(0,0,0,0.75);
}

.pricing{
  height: 180px;
  display: block;
  background-color: #F8F8F8;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-shadow: 1px -2px 6px -1px rgba(171,146,152,1);
  -moz-box-shadow: 1px -2px 6px -1px rgba(171,146,152,1);
  box-shadow: 1px -2px 6px -1px rgba(171,146,152,1);
}

.icon{
  padding-right: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

  -webkit-appearance: none;
  opacity: 1;


}

.qty{
  width: 100px;
  height: 60px;
}

.veggies{
  height: 200px;
  width: 300px;
  background-image: url("assets/fresh-veggies.jpg");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.raspberry{
  height: 200px;
  width: 300px;
  background-image: url("assets/3-raspberries.jpg");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.kiwi{
  height: 200px;
  width: 300px;
  background-image: url("assets/sliced-kiwi.jpg");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  }
