body {
    margin-left: 4em;
}

.person {
    margin: 0.5em;
    float: left;
    border: 1px solid #ddd;
    padding: 10px;
    width: 250px;
}
input[type="number"] {
    width: 30px;
    float: right;
}

span.points {
    border: 1px solid black;
    border-radius: 50%;
    width: 17px;
    display: inline-block;
    text-align: center;
    padding: 5px;
    background-color: azure;
    float: right;
    display: none;
}
span.points:hover {
    opacity: .5;
    cursor: pointer;
}
span.name {
    font-size: 1.2em;
}
